@{
    Layout = "_Layout";
}
@model Todo

<form asp-controller="home" asp-action="edit" method="post" class="container">
    <div class="mb-3">
        <label asp-for="Title" class="form-label">Title</label>
        <input asp-for="Title" type="text" class="form-control" style="width: 30%;" value="@Model.Title">
    </div>
    <button class="btn btn-dark" asp-controller="home" asp-action="index">Cancel</button>
    <button type="submit" class="btn btn-success">Save</button>
</form>